{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Have a puppy that needs to be adopted?</h1>
  <p>Add a new puppy to our database!</p>
  <form method="POST">
      {{ form.hidden_tag() }}
      {{ form.name.label }} {{ form.name() }}
      {{ form.age.label }} {{ form.age() }}
      {{ form.breed.label }} {{ form.breed() }}
      {{ form.colour.label }} {{ form.colour() }}
      {{ form.characteristics.label }} {{ form.characteristics() }}
      {{ form.submit()}}
  </form>
</div>
{% endblock %}